* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.buttons-div {
  display: flex;
  justify-content: center;
}

button {
  width: 120px;
  height: 30px;
  margin-right: 5px;
}

.timer{
  display: flex;
  margin-top: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #434040;
}

.field{
  display:flex;
  flex-direction: column;
  margin-right: 20px;
  align-items: center;
  text-transform: uppercase;
}

.label{
  font-size: 15px;
}

.value{
  font-size: 30px;
}

input{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #434040;
font-size: 15px;
}
